﻿<div>
    <input id="myInput" ng-model="$ctrl.text" input-change/>
    <button id="button" ng-click="$ctrl.getResults()">click</button>
    test {{$ctrl.text}}
    <div ng-repeat="item in $ctrl.users">
        <div>{{item.UserName}}</div>
    </div>
</div>
